<!--<html>
<head>
<title>{{TITLE}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
-->

<!--
<table id="Table_01" width="400" height="640" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<a href="http://" target="_blank">
				<img src="images/Clickthrough_URL_4.jpg" width="400" height="192" border="0" alt=""></a></td>
	</tr>
</table>
-->
<html>
<body>

  <style>
      a:focus,input:focus{
        box-shadow: inset 0 0 0 2px #31475f !important;
        box-shadow:       0 0 0 2px #31475f !important;
        outline:none;
      }
  </style>

<div class="main-container" id="theme-a" style="background: #D9E9F5; border-radius: 3px; box-shadow: inset 0 -90px 90px -45px white; color: #31475f; font-family: Roboto, sans-serif; font-size: 0; font-weight: 400; line-height: 0; margin: 0 auto; max-width: 100%; overflow: hidden; padding: 0; text-align: center; width: 640px;">

    <div class="block-group intro-block-group" style="display: inline-block; margin: 0 auto; max-width: 358.4px; min-width: 280px; padding: 0 !important; text-align: left; vertical-align: top; width: 56%;">

      <div class="block main-img-block" style="font-size: 14px; line-height: 1;">
        <img src="images/main.jpg" class="img main-img" style="border: none; display: block; margin: 0 auto 16px; max-height: 278.26087px; max-width: 100%; width: 100%;">
      </div>

      <br><div class="block teaser-block" style="font-size: 14px; line-height: 1; margin: 16px 27px;">
        <div class="teaser-headline" style="display: block; font-size: 33px; font-weight: 600; line-height: 36px; padding: 0 0 8px;">Headline Text For Ad Goes Here</div>
          <div class="teaser-p" style="display: block; font-weight: 100; line-height: 20px; padding: 8px 0;">Supporting text goes here, but please keep it short and sweet and easy to digest!</div>
          <div class="teaser-p" style="display: block; font-weight: 100; line-height: 20px; padding: 8px 0 0;">Not ready to fill out our form? Learn more about <a href="http://www.seerinteractive.com/TEST-GDN-GSP?x=CTA" target="_blank" class="link teaser-link" style="color: #3e83dc; font-weight: 900;">our offerings</a>.</div>
      </div>

    </div>

    <div class="block-group form-block-group" style="background: white; display: inline-block; margin: 0 auto; max-width: 281.6px; min-width: 280px; padding: 0 !important; text-align: left; vertical-align: top; width: 44%;">

      <div class="block form-block" style="font-size: 14px; line-height: 1;">

        <div class="form-block-inner" style="display: block; margin: 16px 27px; padding: 8px 0 0;">

          <div class="form-header-p" style="line-height: 18px;">
            Fill out the form below to lorem ipsum dolor sit amet.
          </div>

          <form action="http://www.seerinteractive.com/TEST-GDN-GSP?x=formsubmit" method="post" class="form">

            <label class="form-field" style="display: block; margin: 1.1em 0;">
              <div class="form-field-label" style="font-size: 9px; margin: 0 0 3px;">
                First Name
              </div>
              <input type="text" size="25" required class="form-field-input" style="background: #D9E9F5; border: none; box-sizing: border-box; color: #31475f; font-family: Roboto, sans-serif; margin: 0; padding: 8px 11px; width: 100%;">
            </label>

            <label class="form-field" style="display: block; margin: 1.1em 0;">
              <div class="form-field-label" style="font-size: 9px; margin: 0 0 3px;">
                Last Name
              </div>
              <input type="text" size="25" required class="form-field-input" style="background: #D9E9F5; border: none; box-sizing: border-box; color: #31475f; font-family: Roboto, sans-serif; margin: 0; padding: 8px 11px; width: 100%;">
            </label>

            <label class="form-field" style="display: block; margin: 1.1em 0;">
              <div class="form-field-label" style="font-size: 9px; margin: 0 0 3px;">
                Email Address
              </div>
              <input type="text" x-autocompletetype="email" size="25" required class="form-field-input" style="background: #D9E9F5; border: none; box-sizing: border-box; color: #31475f; font-family: Roboto, sans-serif; margin: 0; padding: 8px 11px; width: 100%;">
            </label>

            <label class="form-field" style="display: block; margin: 1.1em 0;">
              <div class="form-field-label" style="font-size: 9px; margin: 0 0 3px;">
                Phone
              </div>
              <input type="text" x-autocompletetype="phone-full" size="25" required class="form-field-input" style="background: #D9E9F5; border: none; box-sizing: border-box; color: #31475f; font-family: Roboto, sans-serif; margin: 0; padding: 8px 11px; width: 100%;">
            </label>

            <label class="form-field" style="display: block; margin: 1.1em 0;">
              <div class="form-field-label" style="font-size: 9px; margin: 0 0 3px;">
                Zip Code
              </div>
              <input type="text" x-autocompletetype="postal-code" size="25" required class="form-field-input" style="background: #D9E9F5; border: none; box-sizing: border-box; color: #31475f; font-family: Roboto, sans-serif; margin: 0; padding: 8px 11px; width: 100%;">
            </label>

            <input type="submit" value="Submit" class="form-field form-submit-btn" style="background: #3e83dc; border: none; color: white; font-family: Roboto, sans-serif; font-size: 11px; font-weight: 900; letter-spacing: 0.25em; margin: 0; padding: 1em 0; text-align: center; text-transform: uppercase; width: 100%;">

          </form>

          <div class="form-privacy-p" style="font-size: 11px;">View our <a href="http://www.seerinteractive.com/TEST-GDN-GSP?x=PRIVACY" target="_blank" class="link privacy-link" style="color: #3e83dc; font-weight: 900;">Privacy Policy</a>.</div>
          
        </div>
      </div>

      <br><div class="block logo-block" style="font-size: 14px; line-height: 1;">
        <img src="images/logo.png" class="img logo-img" style="border: none; display: block; margin: 8px auto; max-height: 200px; max-width: 85%;">
      </div>

    </div>
</div>

</body>
</html>





<!--
</body>
</html>
-->
