body {
  direction: ltr;
  font-family: arial,sans-serif;
  margin: 0;
  padding: 0;
}
body.rtl {
  direction: rtl;
  float: left;
}
#scrolling-wrapper {
  overflow: auto;
  padding: 8px;
  box-sizing: border-box;
}
.section-title {
  color: #6C6C6C;
  font-size: 14px;
  line-height: 33px;
}
.show-mobile-section:not(.no-body-section) .mobile-section.body-section {
  display: block;
}
.no-section-title .section-title,
.no-teaser-section .teaser-section,
.no-body-section .body-section,
.no-body-native-component .body-native-component,
.show-mobile-section .desktop-section,
.show-desktop-section .mobile-section,
.mobile-section.body-section {
  display: none;
}
.section-frame {
  background-color: white;
  border: 1px solid #d3d3d3;
  width: 670px;
  padding: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}
.ad-tag {
  height: 15px;
}

/**
 * Desktop teaser frame.
 */
.teaser-frame {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.teaser-frame [name=ad-advertiser] {
  overflow: hidden;
  text-overflow: clip;
  font-size: 13px;
  font-weight: bold;
}
.teaser-frame [name=ad-subject] {
  font-size: 13px;
  font-weight: bold;
}
.teaser-frame [name=ad-description] {
  font-size: 13px;
  color: #6C6C6C;
}
#teaser-advertiser-block,
#teaser-subject-block {
  line-height: 20px;
}
#teaser-advertiser-block {
  width:184px;
  padding-left:10px;
  padding-right:6px;
}
.rtl #teaser-advertiser-block {
  padding-left:6px;
  padding-right:10px;
}
.rtl #teaser-subject-block {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.rtl #teaser-subject-block>span {
  unicode-bidi: embed;
}
#teaser-ad-icons  {
  font-size:11px;
  float: right;
  margin: 0 4px 0 .5em;
}
.rtl #teaser-ad-icons {
  float: left;
  margin: 0 0.5em 0 4px;
}
.teaser-frame img {
  vertical-align: middle;
}

/**
 * Mobile teaser frame.
 */
.mobile-teaser-line {
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 54px;
  margin-right: 16px;
}
.rtl .mobile-teaser-line {
  margin-left: 16px;
  margin-right: 54px;
}
#mobile-teaser [name=ad-advertiser] {
  font-size: 14px;
}
#logo-container {
  display: block;
  float: left;
}
.rtl #logo-container {
  float: right;
}
.logo-container {
  display: block;
  float: left;
}
.rtl .logo-container {
  float: right;
}
#logo,
#mobile-body-logo {
  max-width: 40px;
  max-height: 40px;
  vertical-align: middle;
}
#mobile-teaser .ad-info {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
}
.rtl #mobile-teaser .ad-info {
  right: initial;
  margin-right: initial;
  left: 0;
  margin-left: 0;
}

/**
 * Mobile body frame.
 */
.visible-url {
  color: #4285f4;
  font-size: 13px;
  text-decoration: none;
}
#mobile-body hr {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 10px;
}
body:not(.has-mobile-preview-template) #mobile-expanded-body {
  -webkit-transform: scale(0.5);
     -moz-transform: scale(0.5);
       -o-transform: scale(0.5);
          transform: scale(0.5);

  -webkit-transform-origin: left top;
     -moz-transform-origin: left top;
       -o-transform-origin: left top;
          transform-origin: left top;
}
body.rtl:not(.has-mobile-preview-template) #mobile-expanded-body {
  -webkit-transform: scale(0.5);
     -moz-transform: scale(0.5);
       -o-transform: scale(0.5);
          transform: scale(0.5);

  -webkit-transform-origin: right top;
     -moz-transform-origin: right top;
       -o-transform-origin: right top;
          transform-origin: right top;
}
#mobile-expanded-body {
  margin-top:10px;
}

/**
 * Body frame.
 */
.body-frame {
  width: 650px;
  padding: 10px 20px 60px 20px;
  margin-bottom: 0;
}
.body-frame [name=ad-subject] {
  font-size: 16px;
  line-height: 30px;
}
.body-frame [name=ad-advertiser] {
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
}
hr {
  background-color: #d5d5d5;
  border: none;
  height: 1px;
  margin: 1px 0;
}
#expanded-body {
  margin-top:10px;
}
#body-subject-line {
  height: 30px;
}
#body-ad-icons img {
  vertical-align: middle;
}
#body-ad-icons {
  float: right;
  margin-right: 7px;
  line-height: 30px;
}
.rtl #body-ad-icons {
  float: left;
  margin-right: 0;
  margin-left: 7px;
}
#ad-body {
  max-height: 1000px;
  overflow: auto;
}
td, input, textarea, select {
  margin: 0;
  font-family: arial, sans-serif;
}
input, textarea, select {
  font-size: 100%
}

/**
 * Mobile preview adjustments.
 */
.mobile .visible-on-desktop {
  display: none;
}
.mobile .section-frame,
#mobile-body,
#mobile-teaser .section-frame {
  width: 329px;
}
.mobile .body-frame {
  padding: 10px 10px 60px 10px;
}
.mobile .body-frame [name=ad-advertiser] {
  font-size: 14px;
  font-weight: normal;
}
.mobile #body-ad-icons {
  float: none;
  display: inline-block;
  margin-right: 4px;
}
.mobile.rtl #body-ad-icons {
  margin-right: 0;
  margin-left: 4px;
}
.mobile #body-subject-line {
  position: relative;
}
.mobile #body-ad-icons .ad-info {
  position: absolute;
  top: 9px;
  right: 0;
  margin-right: 7px;
}
.mobile.rtl #body-ad-icons .ad-info {
  right: initial;
  margin-right: initial;
  left: 0;
  margin-left: 7px;
}
.show-mobile-section #scrolling-wrapper {
  padding: 0;
}
.show-mobile-section .section-frame.mobile-section.teaser-section {
  -webkit-transform: scale(0.728);
     -moz-transform: scale(0.728);
       -o-transform: scale(0.728);
          transform: scale(0.728);

  -webkit-transform-origin: left top;
     -moz-transform-origin: left top;
       -o-transform-origin: left top;
          transform-origin: left top;
}
.show-mobile-section .section-frame.mobile-section.body-section {
  -webkit-transform: scale(0.735);
     -moz-transform: scale(0.735);
       -o-transform: scale(0.735);
          transform: scale(0.735);

  -webkit-transform-origin: left top;
     -moz-transform-origin: left top;
       -o-transform-origin: left top;
          transform-origin: left top;
}
