

  <style>
      a:focus,input:focus{
        box-shadow: inset 0 0 0 2px #31475f !important;
        box-shadow:       0 0 0 2px #31475f !important;
        box-shadow: inset 0 0 0 2px #31475f !important;
        outline:none;
      }
      #theme-a-dark a:focus,
      #theme-a-dark input:focus,
      #theme-b-dark a:focus,
      #theme-b-dark input:focus,
      #theme-c-dark a:focus,
      #theme-c-dark input:focus,
      #theme-d-dark a:focus,
      #theme-d-dark input:focus {
            box-shadow: inset 0 0 0 2px #4e93ec !important;
            box-shadow:       0 0 0 2px #4e93ec !important;
            box-shadow: inset 0 0 0 2px #4e93ec !important;
          }
  </style>

<div class="main-container" id="DEFAULT_THEME">
<div class="main-container-inner">

    <div class="block-group intro-block-group">

      <div class="block main-img-block">
        <img src="images/main.jpg" class="img main-img" />
      </div>

      <br /><div class="block teaser-block">
        <div class="teaser-headline">Headline Text For Ad Goes Here</div>
          <div class="teaser-p">Supporting text goes here, but please keep it short and sweet and easy to digest!</div>
          <div class="teaser-p">Not ready to fill out our form? Learn more about <a href="http://www.seerinteractive.com/TEST-GDN-GSP?x=CTA" target="_blank" class="link teaser-link">our offerings</a>.</div>
      </div>

    </div>

    <div class="block-group form-block-group">

      <div class="block form-block">

        <div class="form-block-inner">

          <div class="form-header-p">
            Fill out the form below to lorem ipsum dolor sit amet.
          </div>

          <form action="http://www.seerinteractive.com/TEST-GDN-GSP?x=formsubmit" method="post" class="form">

            <label class="form-field">
              <div class="form-field-label">
                First Name
              </div>
              <input type="text" size="25" required class="form-field-input" />
            </label>

            <label class="form-field">
              <div class="form-field-label">
                Last Name
              </div>
              <input type="text" size="25" required class="form-field-input" />
            </label>

            <label class="form-field">
              <div class="form-field-label">
                Email Address
              </div>
              <input type="text" x-autocompletetype="email" size="25" required class="form-field-input" />
            </label>

            <label class="form-field">
              <div class="form-field-label">
                Phone
              </div>
              <input type="text" x-autocompletetype="phone-full" size="25" required class="form-field-input" />
            </label>

            <label class="form-field">
              <div class="form-field-label">
                Zip Code
              </div>
              <input type="text" x-autocompletetype="postal-code" size="25" required class="form-field-input" />
            </label>

            <input type="submit" value="Submit" class="form-field form-submit-btn" />

          </form>

          <div class="form-privacy-p">View our <a href="http://www.seerinteractive.com/TEST-GDN-GSP?x=PRIVACY" target="_blank" class="link privacy-link">Privacy Policy</a>.</div>

        </div>
      </div>

      <br /><div class="block logo-block">
        <img src="images/logo.png" class="img logo-img" />
      </div>

    </div>
</div>
</div>
