
$main-width: 640px;

$gutter-pad-size: 27px;//9%;

//  * {border:2px solid red;}

.img{}
.main-img{}
.logo-img{}

.link{}
.teaser-link{}
.privacy-link{}

.main-container{}
  .main-container-inner{}

    .block-group{}
    .intro-block-group{}
    .form-block-group{}

      .block{}
      .main-img-block{}
      .teaser-block{}
      .form-block{}
        .form-block-inner{}
      .logo-block{}

      .teaser-block{}
        .teaser-headline{}
        .teaser-p{}
          .teaser-link{}

      .form-block{}
        .form-block-inner{}
          .form-header-p{}
          .form{} form{}
            .form-field{} label{}
              .form-field-label{}
              .form-field-input{} input[type="text"]{}
            .form-fieldform-submit-btn{} input[type="submit"]{}
          .form-privacy-p{}
            .privacy-link{}


      .logo-block{}
        .logo-img{}

///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////

.img{
  border:none;
  max-width:100%;
  margin:0 auto;
  display:block;
}
.main-img{}
.logo-img{}

.link{}
.teaser-link{}
.privacy-link{}

.main-container{
  width:$main-width;
  max-width:100%;
  font-weight:400;
  text-align:center;
  padding:0;
  margin:0 auto;
  font-size: 0;
  line-height: 0;

  //TODO: diff from design
  border-radius:3px;
  overflow:hidden;


  > .main-container-inner {

    .block-group{}
    .intro-block-group{}
    .form-block-group{}
    > div {
      display:inline-block;
      text-align:left;
      margin: 0 auto;
      vertical-align: top;
      min-width: 280px;
      //box-sizing: border-box;
      .block{}
      .main-img-block{}
      .teaser-block{}
      .form-block{}
      .logo-block{}
      > div {
        line-height:1;
        font-size:14px;
      }

      .teaser-block,
      .form-block-inner {
        margin: 16px $gutter-pad-size 0;
      }
    }

    .block > div {
      display:block;
      padding: 8px 0;
      &:first-child { padding: 0 0 8px; }
      &:last-child  { padding: 8px 0 0; }
    }


    &,input{
      font-family: Roboto, sans-serif;
    }


    .intro-block-group{
      .main-img-block{
        .main-img{
          width:100%;
          margin:0 auto 16px;
        }
      }

      .teaser-block{

        .teaser-headline{
          //font-family: 'Roboto Medium', Roboto, sans-serif;
          font-size: 33px;
          line-height:36px;
          font-weight:600;
        }
        .teaser-p{
          //font-family: 'Roboto Light', Roboto, sans-serif;
          line-height:20px;
          font-weight:100;
        }
        .teaser-link{
          //font-family: 'Roboto Bold';
          font-weight:900;
        }
      }
    }

    .form-block-group{
      .form-block{

        .form-block-inner{}

        .form-header-p{
          //font-family: 'Roboto Regular';
          line-height:18px;
        }
        form.form{
          .form-field{
            margin:18px 0 0;
            padding:0;
            width:100%;
            display:inline-block;
          }
            .form-field-label{
              //font-family: 'Roboto Regular';
              font-size: 9px;
              margin: 0 0 3px;
            }
            .form-field-input{
              //font-family: inherit;
              padding: 8px 11px;
              box-sizing: border-box;
            }
          .form-submit-btn{
            //font-family: 'Roboto Bold';
            color: white;
            text-align:center;
            text-transform:uppercase;
            padding:1em 0;
            font-size: 11px;
            font-weight:900;
            letter-spacing:0.25em;
          }
          .form-field-input,
          .form-submit-btn{
            width: 100%;
            border:none;

            // TODO: not in design mockup
            border-radius:1px;

          }
        }

        .form-privacy-p{
          font-size: 11px;
          .privacy-link{
            font-weight:900;
            //TODO: diff from design
              font-weight:inherit;
          }
        }
      }


      .logo-block{
        .logo-img{
          margin:8px auto;
          max-width:85%;
          max-height:200px;
        }
      }
    }
  }
}

///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////

//.main-container,
.main-container#theme-NONE {

  $color-main-bg: magenta;
  $color-main-text: magenta;
  $color-main-textheadline: magenta;
  $color-link: magenta;
  $color-form-bg: magenta;
  $color-input-bg: magenta;
  $color-input-text: magenta;
  $color-btn-bg: $color-link;
  $color-btn-text: white;
  /*
  $color-main-bg: red;
  $color-main-text: red;
  $color-main-textheadline: red;
  $color-link: red;
  $color-form-bg: red;
  $color-input-bg: red;
  $color-input-text: red;
  $color-btn-bg: red;
  $color-btn-text: red;
  */

  & {
    background:$color-main-bg;
    color:$color-main-text;
  }

  .teaser-headline{ color: $color-main-textheadline; }

  .link{ color:$color-link }
  .form-submit-btn{
    color:white; // TODO
    background:$color-link;
  }

  .form-block-group {
    background:$color-form-bg;
  }
  .form-field-input{
    background:$color-input-bg;
    color:$color-input-text;
  }
  .form-submit-btn{
    background:$color-btn-bg;
    color:$color-btn-text;
  }
}


////////////////////////////////////////

.main-container#theme-a-light,
.main-container#theme-a-dark {

  $color-main-bg: #D9E9F5;
  $color-main-text: #31475f;
  $color-main-textheadline: $color-main-text;
  $color-link: #3e83dc;
  $color-form-bg: white;
  $color-input-bg: $color-main-bg;
  $color-input-text: $color-main-text;
  $color-btn-bg: $color-link;
  $color-btn-text: white;

  & {
    background:$color-main-bg;
    color:$color-main-text;

    // TODO: not in design mockup
    box-shadow: inset 0 -90px 90px -45px white;
    overflow: hidden;
  }

  .teaser-headline{ color: $color-main-textheadline; }

  .link{ color:$color-link }
  .form-submit-btn{ color:white; background:$color-link }

  .intro-block-group{
    width:56%;
    max-width: ( 0.56 * $main-width ) - 0;
    .main-img {
      width:100%;
      max-height:$main-width/2.3;
    }
  }
  .form-block-group {
    width:44%;
    max-width: ( 0.44 * $main-width ) - 0;
    background:$color-form-bg;
  }
  .form-field-input{
    background:$color-input-bg;
    color:$color-input-text;
  }
  .form-submit-btn{
    background:$color-btn-bg;
    color:$color-btn-text;
  }
}


.main-container#theme-a-dark {

  $color-main-bg: #547592;
  $color-main-text: #fff;
  $color-main-textheadline: $color-main-text;
  $color-link: #b2cdf1;
  $color-form-bg: #6389ab;
  $color-input-bg: $color-main-bg;
  $color-input-text: $color-main-text;
  $color-btn-bg: #3e83dc;
  $color-btn-text: white;

  & {
    background:$color-main-bg;
    color:$color-main-text;
  }

  .teaser-headline{ color: $color-main-textheadline; }

  .link{ color:$color-link }
  .form-submit-btn{
    color:white;
    background:$color-link;
  }

  .form-block-group {
    background:$color-form-bg;
  }
  .form-field-input{
    background:$color-input-bg;
    color:$color-input-text;
  }
  .form-submit-btn{
    background:$color-btn-bg;
    color:$color-btn-text;
  }
}








////////////////////////////////////////

.main-container#theme-c-light,
.main-container#theme-c-dark,
.main-container#theme-d-light,
.main-container#theme-d-dark {

  $color-main-bg: #D9E9F5;
  $color-main-text: #10325b;
  $color-main-textheadline: $color-main-text;
  $color-link: #3e83dc;
  $color-form-bg: white;
  $color-input-bg: $color-main-bg;
  $color-input-text: $color-main-text;
  $color-btn-bg: $color-link;
  $color-btn-text: white;

  & {
    color:$color-main-text;
    //background:$color-main-bg;
    background-image:
      linear-gradient(rgba(16, 50, 91, 0.5), rgba(16, 50, 91, 0.5)),
      url('images/main.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-size: cover;
    background-position: 50% 50%;

    // TODO: not in design mockup
    //box-shadow: inset 0 -90px 90px -45px white;
    border-radius:3px; overflow: hidden;
  }

  .main-container-inner{
    background:white;
    display:inline-block;
    max-width: 560px;
    margin:18px auto;
    padding: 14px 0 7px;
    border-radius:40px;
    > * {
        width:49%;margin:0;padding:0
    }
  }

  .teaser-headline{
    color: $color-main-textheadline;
    font-size:38px;
    line-height:40px;
  }
  .teaser-p{
    //font-family: 'Roboto Light', Roboto, sans-serif;
    line-height:16px;
    line-height:25px;
  }

  .link{ color:$color-link }
  .form-submit-btn{ color:white; background:$color-link }

  .intro-block-group{
    max-width: ( 0.5 * $main-width ) - 0;
    .main-img {
      display:none;//width:0;height:0;visibility:none;
    }
  }
  .form-block-group {
    max-width: ( 0.5 * $main-width ) - 0;
    //background:$color-form-bg;
  }

  .form-field:nth-child(1),
  .form-field:nth-child(2){
    display:inline-block;
    width: 48%; //max-width:49%;min-width:49%;
    &:nth-child(2){ float:right;}
  }
  .form-field-input{
    background:$color-input-bg;
    color:$color-input-text;
  }
  .form-submit-btn{
    background:$color-btn-bg;
    color:$color-btn-text;
  }
}


.main-container#theme-c-dark,
.main-container#theme-d-dark {

  $color-main-bg: #3e83dc;
  $color-main-text: white;
  $color-main-textheadline: #b2cdf1;
  $color-link: #b2cdf1;
  $color-form-bg: transparent;
  $color-input-bg: #2f4660;
  $color-input-text: $color-main-text;
  $color-btn-bg: #3e83dc;
  $color-btn-text: white;

  & {
    color:$color-main-text;
    //background:$color-main-bg;
    background-image:
      linear-gradient( rgba(62, 131, 220, 0.5), rgba(62, 131, 220, 0.5) ),
      //linear-gradient(rgba(16, 50, 91, 0.5), rgba(16, 50, 91, 0.5)),
      url('images/main.jpg');
  }

  .main-container-inner{
    background:#253547;
  }

  .teaser-headline{
    color: $color-main-textheadline;
  }
  .link{ color:$color-link }
  .form-submit-btn{ color:white; background:$color-link }

  .form-field-input{
    background:$color-input-bg;
    color:$color-input-text;
  }
  .form-submit-btn{
    background:$color-btn-bg;
    color:$color-btn-text;
  }
}


.main-container#theme-d-light,
.main-container#theme-d-dark {
  .teaser-headline,
  .form-header-p{
    font-family: Sanchez, Georgia, serif;
  }
}
